<h2>Applications</h2>

<p-accordion [multiple]="true">
  <p-accordionTab header="Applications" [selected]="true">
    <p-table
      [columns]="cols"
      [value]="applications"
      [paginator]="true"
      [rows]="10"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{ col.header }}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-application let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            {{ application[col.field] }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-accordionTab>

  <p-accordionTab header="Submit Application">
    <div class="row">
      <div class="col-md-3 mt-4" *ngIf="photographers">
        <span class="p-float-label">
          <p-dropdown
            id="Photographer"
            name="photographer"
            [options]="photographers"
            [(ngModel)]="newApplication.photographerId"
            optionValue="id"
            optionLabel="name"
          ></p-dropdown>
          <label for="Photographer">Photographer:</label>
        </span>
      </div>
      <div class="col-md-4 mt-4">
        <button
          pButton
          routerLink="/photographer/create"
          label="Register Photographer"
        ></button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mt-4">
        <span class="p-float-label">
          <textarea
            #photographerResume
            id="PhotographerResume"
            pInputTextarea
            [(ngModel)]="newApplication.resume"
          ></textarea>
          <label for="PhotographerResume">Resume:</label>
        </span>
      </div>

      <div class="col-md-6 mt-4">
        <span class="p-float-label">
          <textarea
            #photographerEquipment
            id="PhotographerEquipment"
            pInputTextarea
            [(ngModel)]="newApplication.equipmentDescription"
          ></textarea>
          <label for="PhotographerEquipment">Equipment Description:</label>
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 mt-4">
        <button
          pButton
          label="Submit Application"
          (click)="createApplication()"
        ></button>
      </div>
    </div>
  </p-accordionTab>
</p-accordion>
<p-toast position="bottom-right"></p-toast>
