<h2>Applications</h2>

<p-accordion [multiple]="true">
  <p-accordionTab header="Applications" [selected]="true">
    <p-table
      [columns]="cols"
      [value]="applications"
      [paginator]="true"
      [rows]="10"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{ col.header }}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-application let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            {{ application[col.field] }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-accordionTab>
</p-accordion>
<p-toast position="bottom-right"></p-toast>
